body{
    /*background: url("piou_piou_laser.jpg") no-repeat top fixed;*/
    background: url("http://www.pageresource.com/wallpapers/wallpaper/dolphin-moon-night-stars-free-moonlight-leap-blue_356141.jpg") no-repeat fixed center top  / 100% 100%;;
    font-family: "Indie Flower",cursive;
    color: white;
}
#wrapper{
    width: 600px;
    margin: 0px auto;
}
h1 {
    text-align: center;
}
table.renderer{
    width: 100%;
}
.renderer  tr td{
    border: solid 1px magenta;
    background-color: rgba(255, 255, 0, 0.3);
    padding: 5px;
}
div.renderer{
    border: 1px solid yellow;
    background-color: rgba(0, 128, 0, 0.36);
    padding: 5px;
    margin-bottom: 5px;
}
ul.renderer{
    list-style: none;
    margin: 0 auto;
    padding: 0;
}
.renderer li {
    border: 1px solid cyan;
    background-color: rgba(255, 0, 255, 0.23);
    padding: 5px;
    margin-bottom: 5px;
}
.asterix{
    color: magenta;
}
form, #resultat, pre {
    padding: 10px;
    width: auto;
    background-color: rgba(75, 195, 215, 0.75);
    border-radius: 20px;
    border: 4px solid magenta;
    color: white;
    margin-bottom: 20px;
}
.champs{
    width: 100%;
    margin-bottom: 20px;
}
label {
    vertical-align: top;
    display: inline-block;
    width: 40%;
}
.bloc_checkbox,
.bloc_radio,
input,
textarea,
select{
    display: inline-block;
    border: medium none;
    border-radius: 5px;
    padding: 5px;
    width: 56%;
    background-color: rgba(222, 53, 202, 0.25);
    color: white;
}
input[type="checkbox"],
input[type="radio"]{
    width:10px;
    margin-left: 0;
    display: block;
}
input[type="submit"],
input[type="reset"]{
    width:auto;
}
.error_message{
    font-weight: bold;
    color: magenta;
    width: 100%;
    float: left;
}
.warning{
    display : block;
    color : magenta;
}
